/* Error: unmatched "}".
 *    ,
 * 56 | }
 *    | ^
 *    '
 *   sass/Layout/_header.scss 56:1  @import
 *   sass/OhMyFood.scss 23:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a    \2577 \a 56 \2502  }\a    \2502  ^\a    \2575 \a   sass/Layout/_header.scss 56:1  @import\a   sass/OhMyFood.scss 23:9        root stylesheet';
}
