.restimg {
    height: 20em;
    width: 100%;
    object-fit: cover;
}

.restmenu {
    position: relative;
    padding: 2em 1em 3em 1em;
    margin-top: -4em;
    background-color: lightdark(5);
    border-radius: 2em 2em 0 0;
    &_container {

        @include responsive-desktop {
            @include container-max-width;
        }
        &_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 1em;
        }
        &_menu {
            padding-bottom: 3em;

            :nth-child(1) {
                animation-delay: 100ms;
            }
            :nth-child(2) {
                animation-delay: 300ms;
            }
            :nth-child(3) {
                animation-delay: 500ms;
            }

            @include responsive-desktop {
                display: flex;
                gap: 1em;
            }

            &_part {
                display: flex;
                flex-direction: column;
                gap: 1em;
                min-width: 0;

                @include responsive-desktop {
                    flex: 1 0 26%;
                }

                animation: menupart-fadein 1s cubic-bezier(0.7, 0, 0.9, 0.9) both;

                &_title {
                    position: relative;
                    padding: 2em 0 0.5em 0;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 3px;
                        width: 2.5em;
                        border-bottom: 3px solid $colour-accent;
                    }
                }
                .card {
                    display: flex;
                    align-items: stretch;
                    border-radius: 1em;
                    background-color: $colour-white;
                    overflow: hidden;
                    cursor: pointer;
                    transition: filter 300ms;
                    
                    &_container {
                        display: flex;
                        padding: 0.7em;
                        gap: 1em;
                        flex: 1;
                        min-width: 0;
                        &_text {
                            display: flex;
                            flex-direction: column;
                            gap: 0.2em;
                            flex: 1;
                            @include texthidden;
                            &_title, &_note {
                                @include texthidden;
                            }
                        }
                        &_price {
                            align-self: flex-end;
                        }
                    }
                    &_check {
                        display: flex;
                        margin-right: -3.5em;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0 1em 1em 0;
                        min-width: 3.5em;
                        color: $colour-white;
                        background-color: $colour-accent;
                        transition: margin-right 500ms ease-in-out;
                    }
                }
            }
        }
        &_tocart {
            display: block;
            margin: 0 auto;
        }
    }
    
}