/* animation du valide dans les menu restaurant */
@keyframes rotation-360 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* animation qui rend progressivement un élément invisible en diminuant sa opacité de 100% à 0% et en cachant l'élément en question.*/
@keyframes fade-out {
    100% { 
        opacity: 0;
        visibility: hidden;
    }
}
/* animation qui rend progressivement un élément visible en augmentant son opacité de 0% à 100% et en augmentant sa taille de 0.3 à 1.*/
@keyframes menupart-fadein {
    0% { opacity: 0%; transform: scale(0.3); }
    100% { opacity: 100%; transform: scale(1); }
}