
/*palette couleur*/

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #ffffff;
$colour-black: #000000;
$colour-invalid: #DB464B;

$breakpoints: (
    tablet: 600px,
    tablet-max: 999px,
    desktop: 1000px
);